{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/sai.css'%}">
</head>
<body>
    <table border="2" cellpadding="1px" cellspecing="13px">
        <tr>
         <th>country</th>
         <th>state</th>
         <th>city</th>
         <th>street</th>
         <th>male</th>
         <th>female</th>
         <th>others</th>   
        </tr>
        <tr>
         <td rowspan="8">1.</td>
         <td rowspan="4">kerala</td>
         <td rowspan="2">kadapa</td>
         <td>new street</td>
         <td>500</td>
         <td>600</td>
         <td>6</td>
        </tr>
        <tr>
         
          
          
          <td>main street</td>
          <td>300</td>
          <td>200</td>
          <td>10</td>
         </tr>
         <tr>
         
         
          <th rowspan="2">AP</th>
          <td>new street</td>
          <td>500</td>
          <td>600</td>
          <td>6</td>
         </tr>
         <tr>
         
          
          
          <td>new street</td>
          <td>500</td>
          <td>600</td>
          <td>6</td>
         </tr>
         <tr>
          
          <td rowspan="4">CHENNAI</td>
          <td rowspan="2">KOLKATA</td>
          <td>new street</td>
          <td>500</td>
          <td>600</td>
          <td>6</td>
         </tr>
         <tr>
          
          
          
          <td>new street</td>
          <td>500</td>
          <td>600</td>
          <td>6</td>
         </tr>
         <tr>
          
          
          <th rowspan="2">DELHI</th>
          <td>new street</td>
          <td>500</td>
          <td>600</td>
          <td>6</td>
         </tr>
         <tr>
          
         
          
          <td>new street</td>
          <td>500</td>
          <td>600</td>
          <td>6</td>
         </tr>
         <tr>
          <td rowspan="2">2.</td>
          <td rowspan="2">BANGALUR</td>
          <td rowspan="2">U.P</td>
          <td>new street</td>
          <td>500</td>
          <td>600</td>
          <td>6</td>
         </tr>
         <tr>
         
         
          
          <td>new street</td>
          <td>500</td>
          <td>600</td>
          <td>6</td>
         </tr>
</body>
</html>