{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>using table for forms</title>
       <link rel="stylesheet" href="{% static 'css/siva1.css' %}">
    </head>
<body>
    <h1 align="center"><u>Application Form</u></h1>
    <form action="reset">
        <fieldset>
        <legend>Registation</legend>  
<table>
    <tr>
        <td><label for="H">Name:</label></td>
        <td><input type="text" placeholder="enter new name" id="H"></td>
    </tr>
    <tr>
        <td><label for="k"> Father Name:</label>  </td>
        <td><input type="text"placeholder="father name" id="k"></td>
    </tr>
    <tr>
         <td><label for="p">Mather Name:</label></td>
         <td><input type="text" placeholder="mather name" id="p"> </td>
    </tr>
    <tr>
        <td><label for="l">Date Of Birth:</label></td>
        <td><input type="datetime-local"  id="l"> </td>
    </tr>
    <tr>
        <td><label for="a">Email:</label></td>
        <td><input type="email" placeholder="abc@email.com" id="a"></td>
   </tr>
    <tr>
        <td><label for="o">Password:</label></td>
        <td><input type="password" placeholder="Password" id="o"></td>
    </tr>
    <tr>
        <td><label for="m">Gender:</label> </td>
        <td><input type="radio" name="Gender" id="m">Male</td>
        <td><input type="radio" name="Gender" id="m">Female</td>
        <td><input type="radio" name="Gender" id="m">Other</td>
    </tr>
    <tr>
        <td><label for="9">Skill:</label></td>
        <td><input type="checkbox" name="skill" id="9">Reading</td>
        <td><input type="checkbox" name="skill" id="9">Playing Games</td>
        <td><input type="checkbox" name="skill" id="9">Good Communication</td>
        <td><input type="checkbox" name="skill" id="9">Good Knowledge</td>
    </tr>
    <tr>
        <td><label for="5">Address:</label> </td>
       <td> <textarea input type="text" placeholder=" address" rows="10" cols="20" id="5"></textarea></tr>
    </tr>
   <tr>
       <td> <input type="reset"></td>
      <td><button><a href="./success with sign-in.html">submit</a></button></td>
    </tr>  
</table>
</fieldset>
    </form> 
    
</body>
</html>    

.