{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/'%}">
</head>
<body>
    <center>
        <H1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, cum! Omnis saepe praesentium voluptatibus eos magnam veritatis provident voluptatem odio! Perferendis quam ut assumenda tenetur provident ipsum, magnam quidem nam.</H1>
        <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis doloremque commodi et. Eveniet, natus iusto atque enim alias accusantium laudantium expedita molestiae maiores vel, repellat asperiores id rem a nobis!</h1>
    </center>
</body>
</html>